.previewSection {
  padding: 120px 0;
  @media (max-width: 992px) {
    padding: 60px 0;
  }
  &__wrap {
    position: relative;
    z-index: 1;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 700px;
    background-image: url("/images/previewBack.png");
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    @media (max-width: 992px) {
      height: 160px;
      padding: 0;
    }
    h2 {
      color: #20d3e0;
      text-align: center;
      font-family: var(--font-outfit), sans-serif;
      font-size: 72px;
      font-weight: 700;
      line-height: 110%;
      text-transform: uppercase;
      @media (max-width: 992px) {
        font-size: 40px;
        margin-bottom: -50px;
      }
    }
  }
  img {
    position: relative;
    z-index: 0;
    margin: -70px auto 0 auto;
    width: 95%;
    height: 70px;
    display: block;
    @media (max-width: 1600px) {
        width: 100%;
    }
    @media (max-width: 992px) {
      height: 20px;
      margin-top: -20px;
    }
  }
}
