.bg {
  background:
    linear-gradient(
      180deg,
      rgba(22, 22, 22, 0.7) 0%,
      rgba(22, 22, 22, 0.3) 20%,
      rgba(22, 22, 22, 0.3) 80%,
      rgba(22, 22, 22, 0.7) 100%
    ),
    linear-gradient(180deg, rgba(22, 22, 22, 0) 0%, #161616 95%),
    url('/images/home/hero.jpg') lightgray 50% / cover no-repeat;
}

.title {
  background: linear-gradient(90deg, #ff00b3 0%, #9700ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.defTitle {
  text-align: center;
  color: #fff;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  @media (max-width: 768px) {
    font-size: 48px;
  }
}
