.header {
  padding: 32px 0;
  position: relative;
  z-index: 100;
  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    > a {
      img {
        @media (max-width: 992px) {
          width: 170px;
          height: auto;
        }
      }
    }
  }
  &__social {
    display: flex;
    gap: 16px;
    a {
      display: flex;
    }
  }
}
