.formSection {
  padding: 120px 0;
  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__col2 {
    width: 50%;
    padding-right: 40px;
    img {
      width: 100%;
      height: auto;
    }
  }
  &__col1 {
    width: 50%;
    padding-right: 120px;
    padding-left: calc((100vw - 1600px) / 2);
    display: flex;
    gap: 60px;
    flex-direction: column;
    @media (max-width: 1600px) {
      padding-left: 32px;
      padding-right: 64px;
    }
    h2 {
      color: #20d3e0;
      font-family: var(--font-outfit), sans-serif;
      font-size: 72px;
      font-style: normal;
      font-weight: 700;
      line-height: 110%; /* 79.2px */
      text-transform: uppercase;
    }
  }
}
